<!DOCTYPE html>
<html lang="en" ng-app="test">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        let mod = angular.module('test', []);
        mod.controller('main', function ($scope) {
            $scope.a = 0;
            $scope.b = 0;
            $scope.parseInt = function (str) {
                return parseInt(str);
            }
        });
    </script>
</head>
<body ng-controller="main">
<input type="text" ng-model="a"><br>
<input type="text" ng-model="b"><br>
{{parseInt(a)+parseInt(b)}}
</body>
</html>